.home {
  background-color: black;
  position: relative;
  padding: 25px;
  border-radius: 100px;
  position: fixed;
  bottom: 40px;
  right: 10%;
  z-index: 1;
}

.home:active {
  box-shadow: 0 4px 4px gray;
}

.home > p{
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  padding: 4px 8px;
  color: white;
  border-radius: 50px;
}

#homeIcon{
  color: white;
}

.cart{
  display: flex;
  margin: 30px auto;
  height: max-content;
  padding: 20px 20px 0 20px;
  gap: 20px;
  flex: 1;
}

.cart__left{
  padding: 20px;
  width: 100%;
  background-color: white;
}

.cart__left h3{
  font-size: 32px;
  font-weight: 450;
  padding-bottom: 20px;
  border-bottom: 1px solid gainsboro;
}

.cart__title{
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;

}


@media(max-width: 800px){
  .cart{
    flex-direction: column-reverse;
    margin: unset;
  }

  .cart__left{
    width: calc(100% - 40px);
  }
}